body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    background-color: #fff;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
}

p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

div.navbar {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    display: block;
    unicode-bidi: isolate;
    background-color: #fff;
    padding: 70px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-top: 0;
    justify-content: center;
}

/* CSS Dropdown */
nav {
    background-color: #137bcf;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

nav ul li ul {
    background-color: #333;
    border: 1px solid #fff;
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}

nav ul li ul li {
    width: 100%;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li:hover > a {
    background-color: #555;
}


label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #0b6ceb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="reset"] {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}